<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#Relabeling-internal-nodes-of-host-tree" data-toc-modified-id="Relabeling-internal-nodes-of-host-tree-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Relabeling internal nodes of host tree</a></span></li><li><span><a href="#Check" data-toc-modified-id="Check-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Check</a></span></li><li><span><a href="#Diet" data-toc-modified-id="Diet-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Diet</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#Diet-detailed" data-toc-modified-id="Diet-detailed-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Diet detailed</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#Habitat" data-toc-modified-id="Habitat-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Habitat</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#Wild-vs-captive" data-toc-modified-id="Wild-vs-captive-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Wild vs captive</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#Sample-type" data-toc-modified-id="Sample-type-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Sample type</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#Phylum-abundances" data-toc-modified-id="Phylum-abundances-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Phylum abundances</a></span><ul class="toc-item"><li><span><a href="#SpecD" data-toc-modified-id="SpecD-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>SpecD</a></span></li><li><span><a href="#IndD" data-toc-modified-id="IndD-12.2"><span class="toc-item-num">12.2&nbsp;&nbsp;</span>IndD</a></span></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* Map metadata to host tree

# Var

In [1]:
work_dir = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/'

# phyloseq 
physeq_file = '/ebio/abt3_projects/Georg_animal_feces/data/16S/LLA/phyloseq/physeq_r5k.RDS'

# host tree (one per spieces; SpecD)
host_tree_SpecD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_20180625_rn_16S-r5k_SpecD.nwk'
# host tree (one per host; IndD)
host_tree_IndD_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_20180625_rn_16S-r5k_IndD.nwk'

# old dataset version of SpecD host tree
host_tree_SpecD_old_file = '/ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/archive/unified_metadata_20180227_r5k_rn.nwk'

# Init

In [2]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(phyloseq)
library(ape)
source('/ebio/abt3_projects/Georg_animal_feces/code/init.R') 
source('/ebio/abt3_projects/Georg_animal_feces/code/itol.R')

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

# Load

In [3]:
# phyloseq
physeq = readRDS(physeq_file)
physeq

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 30290 taxa and 213 samples ]
sample_data() Sample Data:       [ 213 samples by 171 sample variables ]
tax_table()   Taxonomy Table:    [ 30290 taxa by 7 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 30290 tips and 29752 internal nodes ]

In [16]:
# host tree (one per species)
host_tree_SpecD = read.tree(host_tree_SpecD_file)
host_tree_SpecD

Phylogenetic tree with 128 tips and 127 internal nodes.

Tip labels:
	Sander_lucioperca, Esox_lucius, Salvelinus_fontinalis, Aspius_aspius, Leuciscus_idus, Blicca_bjoerkna, ...
Node labels:
	1, 2, 3, 4, 5, 6, ...

Rooted; includes branch lengths.

In [17]:
# host tree (all samples)
host_tree_IndD = read.tree(host_tree_IndD_file)
host_tree_IndD

Phylogenetic tree with 213 tips and 177 internal nodes.

Tip labels:
	X256.Zander, F302.Northern.Pike, X188.Brook.Trout, F300.Asp, X330.Ide, X327.Silver.Bream, ...
Node labels:
	, @_22_@, @_8_@, @_7_@, @_20_@, @_17_@, ...

Rooted; includes branch lengths.

In [6]:
#host tree old dataset version
host_tree_SpecD_old = read.tree(host_tree_SpecD_old_file)
host_tree_SpecD_old

Phylogenetic tree with 128 tips and 127 internal nodes.

Tip labels:
	Sander_lucioperca, Esox_lucius, Salvelinus_fontinalis, Aspius_aspius, Leuciscus_idus, Blicca_bjoerkna, ...
Node labels:
	, @_7_@, @_2_@, @_1_@, @_6_@, @_4_@, ...

Rooted; includes branch lengths.

In [8]:
# metadata
metadata = physeq %>%
    sample_data %>%
    as.matrix %>%
    as.data.frame 

metadata %>% dfhead

Warning message in class(X) <- NULL:
“Setting class(x) to NULL;   result will no longer be an S4 object”

[1] 213 171

                   X.SampleID         BarcodeSequence LinkerPrimerSequence
X1.Eurasian.Beaver X1.Eurasian.Beaver ACTCACGGTATG    CATGCTGCCTCCCGTAGGAGT
X101.Horse         X101.Horse         ACGACGTCTTAG    CATGCTGCCTCCCGTAGGAGT
X102.Kulan         X102.Kulan         ACGAGTGCTATC    CATGCTGCCTCCCGTAGGAGT
                   Primer              ReversePrimer        Barcode_ID
X1.Eurasian.Beaver GCCTCCCTCGCGCCATCAG AGAGTTTGATCCTGGCTCAG 338R_BC0049
X101.Horse         GCCTCCCTCGCGCCATCAG AGAGTTTGATCCTGGCTCAG 338R_BC0030
X102.Kulan         GCCTCCCTCGCGCCATCAG AGAGTTTGATCCTGGCTCAG 338R_BC0031
                   sample_number host_subject_id host_german_name
X1.Eurasian.Beaver 1             1               Biber
X101.Horse         101           101             Hauspferd
X102.Kulan         102           102             Khulan
                   host_common_name ⋯ wellplate_position_Illumina
X1.Eurasian.Beaver Eurasian.Beaver  ⋯ B12
X101.Horse         Horse            ⋯ E8
X102.Kulan         Kulan            ⋯ E9
                   Cornell_Dilution_DNA_Illumina Num_Illumina Num sorting_454
X1.Eurasian.Beaver 4                             120          18  18
X101.Horse         16                            344          160 160
X102.Kulan         16                            345          161 161
                   comments_additional DNA_box_20180622 sample_vol_20180622
X1.Eurasian.Beaver NA                  1                20
X101.Horse         NA                  2                20
X102.Kulan         NA                  2                20
                   sample_label_20180622 Description
X1.Eurasian.Beaver 1                     NA
X101.Horse         101                   NA
X102.Kulan         102                   NA

# Relabeling internal nodes of host tree

Standardizing internal node labels (if needed)

In [20]:
host_tree_SpecD$node.label = gsub('^', 'Node', 1:host_tree_SpecD$Nnode)
host_tree_SpecD

Phylogenetic tree with 128 tips and 127 internal nodes.

Tip labels:
	Sander_lucioperca, Esox_lucius, Salvelinus_fontinalis, Aspius_aspius, Leuciscus_idus, Blicca_bjoerkna, ...
Node labels:
	Node1, Node2, Node3, Node4, Node5, Node6, ...

Rooted; includes branch lengths.

In [21]:
write.tree(host_tree_SpecD, file=host_tree_SpecD_file)
cat('File written:', host_tree_SpecD_file, '\n')

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_20180625_rn_16S-r5k_SpecD.nwk

In [22]:
host_tree_IndD$node.label = gsub('^', 'Node', 1:host_tree_IndD$Nnode)
host_tree_IndD

Phylogenetic tree with 213 tips and 177 internal nodes.

Tip labels:
	X256.Zander, F302.Northern.Pike, X188.Brook.Trout, F300.Asp, X330.Ide, X327.Silver.Bream, ...
Node labels:
	Node1, Node2, Node3, Node4, Node5, Node6, ...

Rooted; includes branch lengths.

In [23]:
write.tree(host_tree_IndD, file=host_tree_IndD_file)
cat('File written:', host_tree_IndD_file, '\n')

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT/unified_metadata_complete_20180625_rn_16S-r5k_IndD.nwk

# Check

In [24]:
# in old host tree, but not new?
setdiff(host_tree_SpecD_old$tip.label, host_tree_SpecD$tip.label) %>% print
# in new host tree, but not old?
setdiff(host_tree_SpecD$tip.label, host_tree_SpecD_old$tip.label) %>% print

character(0)
character(0)

In [25]:
setdiff(metadata$scientific_name, host_tree_SpecD$tip.label) %>% print
setdiff(host_tree_SpecD$tip.label, metadata$scientific_name) %>% print

character(0)
character(0)

In [26]:
setdiff(metadata$X.SampleID, host_tree_IndD$tip.label) %>% print
cat('----\n')
setdiff(host_tree_IndD$tip.label, metadata$X.SampleID) %>% print

character(0)
----
character(0)

# Diet

In [27]:
# setting colors
x = metadata$diet %>% unique
cols = c('#00FF00', '#FFCC33', '#FF0000')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))
legend

  labels    colors  shapes
1 herbivore #00FF00 1
2 omnivore  #FFCC33 1
3 carnivore #FF0000 1

## SpecD

* One per species

In [28]:
x = metadata %>%
    distinct(scientific_name, diet) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

itol_colorstrip(x, 'diet', 'physeq_SpecD_diet-itol-col.txt', work_dir, legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_diet-itol-col.txt

## IndD

* One per individual

In [29]:
x = metadata %>% 
    dplyr::select(X.SampleID, diet)
rownames(x) = x$X.SampleID
x$X.SampleID = NULL

itol_colorstrip(x, 'diet', 'physeq_IndD_diet-itol-col.txt', work_dir, legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_diet-itol-col.txt

# Diet detailed

## SpecD

In [30]:
metadata %>% 
    distinct(scientific_name, diet_vertebrate, diet_invertebrate, 
                  diet_fruit, diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, 
                  diet_seeds, diet_grass_waterplants, diet_roots_tubers) %>%
 summary

                 scientific_name diet_vertebrate             diet_invertebrate
 Canis_lupus             :  3    no :83          no                   :53
 Dromaius_novaehollandiae:  2    yes:51          yes                  :80
 Equus_caballus          :  2                    yes mainly young ones: 1
 Giraffa_camelopardalis  :  2
 Sus_scrofa              :  2
 Acrocephalus_scirpaceus :  1
 (Other)                 :122
 diet_fruit diet_flowers_nectar_pollen diet_leaves_branches_bark_buds
 no :81     no :121                    no :84
 yes:53     yes: 13                    yes:50





 diet_seeds diet_grass_waterplants diet_roots_tubers
 no :87     no :85                 no :105
 yes:47     yes:49                 yes: 29

In [44]:
# selecting diet-detailed
## for differning diets, taking the average
x = metadata %>%
    distinct(scientific_name, diet_vertebrate, diet_invertebrate, 
             diet_fruit, diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, 
             diet_seeds, diet_grass_waterplants, diet_roots_tubers) %>%
    gather(diet_category, diet_value, -scientific_name) %>%
    mutate(diet_value = gsub(' .+', '', diet_value),
           diet_value_binary = ifelse(diet_value == 'yes', 1, 0),
           diet_category = gsub('diet_', '', diet_category)) %>%
    group_by(scientific_name, diet_category) %>%
    summarize(diet_value_mean = mean(diet_value_binary)) %>%
    ungroup() %>%
    spread(diet_category, diet_value_mean) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

itol_heatmap(x, 'diet_detailed', 'physeq_SpecD_diet-detailed_itol-htmp.txt', 
             work_dir, dist_method='bray')

Warning message:
“attributes are not identical across measure variables;
they will be dropped”Warning message in if (color_scheme == "color") {:
“the condition has length > 1 and only the first element will be used”

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_diet-detailed_itol-htmp.txt

## IndD

In [45]:
# selecting diet-detailed
## for differning diets, taking the average
x = metadata %>%
    distinct(X.SampleID, diet_vertebrate, diet_invertebrate, 
             diet_fruit, diet_flowers_nectar_pollen, diet_leaves_branches_bark_buds, 
             diet_seeds, diet_grass_waterplants, diet_roots_tubers) %>%
    gather(diet_category, diet_value, -X.SampleID) %>%
    mutate(diet_value = gsub(' .+', '', diet_value),
           diet_value_binary = ifelse(diet_value == 'yes', 1, 0),
           diet_category = gsub('diet_', '', diet_category)) %>%
    group_by(X.SampleID, diet_category) %>%
    summarize(diet_value_mean = mean(diet_value_binary)) %>%
    ungroup() %>%
    spread(diet_category, diet_value_mean) %>%
    as.data.frame
rownames(x) = x$X.SampleID
x$X.SampleID = NULL

itol_heatmap(x, 'diet_detailed', 'physeq_IndD_diet-detailed_itol-htmp.txt', 
             work_dir, dist_method='jaccard')

Warning message:
“attributes are not identical across measure variables;
they will be dropped”Warning message in if (color_scheme == "color") {:
“the condition has length > 1 and only the first element will be used”

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_diet-detailed_itol-htmp.txt

# Habitat

In [46]:
# setting colors
x = metadata$habitat %>% unique %>% gsub(' habitat', '', .) %>% sort
cols = c('#FF9900', '#00CCFF', '#999600', '#663300')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))

legend

  labels                 colors  shapes
1 anthropogenic          #FF9900 1
2 aquatic                #00CCFF 1
3 terrestrial            #999600 1
4 terrestrial_cultivated #663300 1

## SpecD

In [47]:
x = metadata %>%
    group_by(scientific_name) %>%
    mutate(n_samples_per_sp = n()) %>%
    group_by(scientific_name, habitat) %>%
    summarize(n_samples = n(),
              perc_samples = n_samples / first(n_samples_per_sp) * 100) %>%
    ungroup() %>%
    dplyr::select(scientific_name, habitat, perc_samples) %>%
    spread(habitat, perc_samples, fill=0) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

itol_multibar(x, 'habitat', 'physeq_SpecD_habitat_itol-multibar.txt', 
              work_dir, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_habitat_itol-multibar.txt

## IndD

In [48]:
# NOTE: multiple categories per host species
x = metadata %>%
    dplyr::select(X.SampleID, habitat)
rownames(x) = x$X.SampleID
x$X.SampleID = NULL

itol_colorstrip(x, 'diet', 'physeq_IndD_habitat_itol-multibar.txt', work_dir, legend=legend)

Warning message:
“Column `feature` joining factors with different levels, coercing to character vector”

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_habitat_itol-multibar.txt

# Wild vs captive

In [49]:
# setting colors
x = metadata$captive_wild %>% unique %>% sort
cols = c('#FF9900', '#0000FF', '#009900')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))
legend

  labels  colors  shapes
1 captive #FF9900 1
2 human   #0000FF 1
3 wild    #009900 1

## SpecD

In [50]:
# NOTE: multiple categories per host species
x = metadata %>%
    group_by(scientific_name) %>%
    mutate(n_samples_per_sp = n()) %>%
    group_by(scientific_name, captive_wild) %>%
    summarize(n_samples = n(),
              perc_samples = n_samples / first(n_samples_per_sp) * 100) %>%
    ungroup() %>%
    dplyr::select(scientific_name, captive_wild, perc_samples) %>%
    spread(captive_wild, perc_samples, fill=0) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

itol_multibar(x, 'captive-wild', 'physeq_SpecD_wild-captive_itol-multibar.txt', 
              work_dir, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_wild-captive_itol-multibar.txt

## IndD

In [51]:
# NOTE: multiple categories per host species
x = metadata %>%
    dplyr::select(X.SampleID, captive_wild)
rownames(x) = x$X.SampleID
x$X.SampleID = NULL

itol_colorstrip(x, 'diet', 'physeq_IndD_wild-captive_itol-multibar.txt', work_dir, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_wild-captive_itol-multibar.txt

# Sample type

In [52]:
# setting colors
x = metadata$sample_type %>% unique %>% sort
cols = c('#663300', '#CC9900')
legend = data.frame(labels = x,
                    colors = cols,
                    shapes = rep(1, length(labels)))

legend

  labels colors  shapes
1 feces  #663300 1
2 gut    #CC9900 1

## SpecD

In [53]:
# NOTE: multiple categories per host species
x = metadata %>%
    group_by(scientific_name) %>%
    mutate(n_samples_per_sp = n()) %>%
    group_by(scientific_name, sample_type) %>%
    summarize(n_samples = n(),
              perc_samples = n_samples / first(n_samples_per_sp) * 100) %>%
    ungroup() %>%
    dplyr::select(scientific_name, sample_type, perc_samples) %>%
    spread(sample_type, perc_samples, fill=0) %>%
    as.data.frame
rownames(x) = x$scientific_name
x$scientific_name = NULL

itol_multibar(x, 'sample_type', 'physeq_SpecD_sample-type_itol-multibar.txt', 
              work_dir, legend=legend, WIDTH=50)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_sample-type_itol-multibar.txt

## IndD

In [54]:
# NOTE: multiple categories per host species
x = metadata %>%
    dplyr::select(X.SampleID, sample_type)
rownames(x) = x$X.SampleID
x$X.SampleID = NULL

itol_colorstrip(x, 'sample_type', 'physeq_IndD_sample-type_itol-multibar.txt', work_dir, legend=legend)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_sample-type_itol-multibar.txt

# Phylum abundances

In [56]:
 otu = physeq %>%
    otu_table() %>%
    as.matrix %>%
    as.data.frame 

# gather
otu$OTU = rownames(otu) 
rownames(otu) = 1:nrow(otu)
otu = otu %>%
    gather(sample, count, -OTU) %>%
    group_by(sample) %>%
    mutate(count = count / sum(count) * 100) %>%
    ungroup() %>%
    filter(count > 0)
       
# status
otu %>% dfhead

[1] 54783     3

  OTU                              sample             count
1 13f82e5ba9ba27ea09f601e01ff70522 X1.Eurasian.Beaver 0.16
2 3dab8da99409c887717be58cb16f1934 X1.Eurasian.Beaver 4.96
3 a6dcf57735588b8f1a3fb7c8469d4396 X1.Eurasian.Beaver 0.70

In [57]:
# host metadata
metadata = physeq %>%
    sample_data %>%
    as.matrix %>%
    as.data.frame %>%
    mutate(Sample_ID = rownames(.)) %>%
    dplyr::select(Sample_ID, scientific_name) %>% 
    mutate(scientific_name = gsub(' ', '_', scientific_name))

metadata %>% dfhead

Warning message in class(X) <- NULL:
“Setting class(x) to NULL;   result will no longer be an S4 object”

[1] 213   2

  Sample_ID          scientific_name
1 X1.Eurasian.Beaver Castor_fiber
2 X101.Horse         Equus_caballus
3 X102.Kulan         Equus_hemionus

In [58]:
# checks
metadata %>% 
    filter(grepl('gazell', scientific_name, ignore.case=TRUE))

  Sample_ID            scientific_name
1 X42.Goitered.Gazelle Gazella_subgutturosa

In [59]:
# adding host metadata
otu = otu %>%
    inner_join(metadata, c('sample'='Sample_ID')) 

otu %>% dfhead

[1] 54783     4

  OTU                              sample             count scientific_name
1 13f82e5ba9ba27ea09f601e01ff70522 X1.Eurasian.Beaver 0.16  Castor_fiber
2 3dab8da99409c887717be58cb16f1934 X1.Eurasian.Beaver 4.96  Castor_fiber
3 a6dcf57735588b8f1a3fb7c8469d4396 X1.Eurasian.Beaver 0.70  Castor_fiber

## SpecD

In [61]:
# for each host species, subsample abundance until ~100% of taxa 
sample_to_value = function(x, df, target=100){
    df = df %>%
        filter(scientific_name == x)
    idx = sample(1:nrow(df), nrow(df))
    
    # subsampling
    for(i in 1:length(idx)){
        s = sum(df[idx[1:i], 'count'])
        if(s >= target * 0.99){
            df = df[idx[1:i],]
            df[nrow(df),'count'] = target - sum(df[1:(nrow(df)-1), 'count'])
            return(df)
        }
    }
    return(NA)
}

scientific_name = otu$scientific_name %>% unique
#scientific_name = scientific_name[1:3]

otu_s = plyr::llply(as.list(scientific_name), sample_to_value, df=otu) 
otu_s = do.call(rbind, otu_s)

otu_s %>% dfhead

[1] 23942     4

  OTU                              sample             count scientific_name
1 819f805a0f1054a52d5415206af96569 X1.Eurasian.Beaver 0.12  Castor_fiber
2 4068e49536beb131aacf5b0fd4bd58b8 X1.Eurasian.Beaver 0.12  Castor_fiber
3 35aebe0f55b49a6b687532e23856f4cf X1.Eurasian.Beaver 0.08  Castor_fiber

In [62]:
 # checking sums
otu_s %>%
    group_by(scientific_name) %>%
    summarize(count = sum(count)) %>%
    ungroup() %>%
    .$count %>% summary

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    100     100     100     100     100     100

In [63]:
 # adding phylum taxonomy
tax = physeq %>%
    tax_table %>%
    as.matrix %>%
    as.data.frame %>%
    mutate(OTU = rownames(.)) %>%
    dplyr::select(OTU, Phylum)

otu_s = otu_s %>%
    inner_join(tax, c('OTU'))

tax = NULL
otu_s %>% dfhead

[1] 23942     5

  OTU                              sample             count scientific_name
1 819f805a0f1054a52d5415206af96569 X1.Eurasian.Beaver 0.12  Castor_fiber
2 4068e49536beb131aacf5b0fd4bd58b8 X1.Eurasian.Beaver 0.12  Castor_fiber
3 35aebe0f55b49a6b687532e23856f4cf X1.Eurasian.Beaver 0.08  Castor_fiber
  Phylum
1 Firmicutes
2 Firmicutes
3 Firmicutes

In [64]:
# formatting table
otu_s_g = otu_s %>%
    group_by(scientific_name, Phylum) %>%
    summarize(count = sum(count)) %>%
    group_by(Phylum) %>%
    mutate(is_other = ifelse(mean(count) < 2, TRUE, FALSE)) %>%
    ungroup() %>%
    mutate(Phylum = Phylum %>% as.character,
           Phylum = ifelse(is_other == TRUE, 'Other', Phylum)) %>%
    group_by(scientific_name, Phylum) %>%
    summarize(count = sum(count)) %>%
    ungroup() %>%
    spread(Phylum, count, fill=0) %>%
    as.data.frame

rownames(otu_s_g) = otu_s_g$scientific_name
otu_s_g$scientific_name = NULL
otu_s_g = cbind(otu_s_g[,colnames(otu_s_g) != 'Other'],
                otu_s_g[,colnames(otu_s_g) == 'Other'])
colnames(otu_s_g)[ncol(otu_s_g)] = 'Other'

otu_s_g %>% dfhead

[1] 128   9

                        Bacteroidetes CKC4 Firmicutes Fusobacteria
Acrocephalus_scirpaceus 0.16          0    96.42      0.08
Aepyceros_melampus      1.98          0    94.58      0.00
Anas_platyrhynchos      0.14          0    93.44      0.46
                        Proteobacteria Spirochaetae Tenericutes Verrucomicrobia
Acrocephalus_scirpaceus 1.12           0.00         0.00        0.0
Aepyceros_melampus      1.14           0.04         0.48        0.2
Anas_platyrhynchos      5.38           0.00         0.02        0.0
                        Other
Acrocephalus_scirpaceus 2.22
Aepyceros_melampus      1.58
Anas_platyrhynchos      0.56

In [65]:
# creating colors
x = colnames(otu_s_g)
cols = RColorBrewer::brewer.pal(length(x), 'Set1')
cols[length(cols)] = '#A6ACAF'
field_colors = data.frame(x, cols)

colnames(field_colors) = c('labels', 'colors')
field_colors$shapes = rep(1, nrow(field_colors))

field_colors$colors = field_colors$colors %>% as.character
# field_colors[field_colors$labels == 'Other','colors'] = '#A6ACAF'

# switching
tmp1 = field_colors[field_colors$labels == 'CKC4','colors'] 
tmp2 = field_colors[field_colors$labels == 'Proteobacteria','colors'] 
field_colors[field_colors$labels == 'CKC4','colors'] = tmp2
field_colors[field_colors$labels == 'Proteobacteria','colors'] = tmp1

# status
field_colors

  labels          colors  shapes
1 Bacteroidetes   #E41A1C 1
2 CKC4            #FF7F00 1
3 Firmicutes      #4DAF4A 1
4 Fusobacteria    #984EA3 1
5 Proteobacteria  #377EB8 1
6 Spirochaetae    #FFFF33 1
7 Tenericutes     #A65628 1
8 Verrucomicrobia #F781BF 1
9 Other           #A6ACAF 1

In [66]:
itol_multibar(otu_s_g, 'Phylum', 
              'physeq_SpecD_phylum_itol-multibar.txt', work_dir,
              legend=field_colors)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_SpecD_phylum_itol-multibar.txt

## IndD

In [67]:
# adding phylum taxonomy
tax = physeq %>%
    tax_table %>%
    as.matrix %>%
    as.data.frame %>%
    mutate(OTU = rownames(.)) %>%
    dplyr::select(OTU, Phylum)

otu_s = otu %>%
    inner_join(tax, c('OTU'))

tax = NULL
otu_s %>% dfhead

[1] 54783     5

  OTU                              sample             count scientific_name
1 13f82e5ba9ba27ea09f601e01ff70522 X1.Eurasian.Beaver 0.16  Castor_fiber
2 3dab8da99409c887717be58cb16f1934 X1.Eurasian.Beaver 4.96  Castor_fiber
3 a6dcf57735588b8f1a3fb7c8469d4396 X1.Eurasian.Beaver 0.70  Castor_fiber
  Phylum
1 Spirochaetae
2 Verrucomicrobia
3 Proteobacteria

In [68]:
# formatting table
otu_s_g = otu_s %>%
    group_by(sample, Phylum) %>%
    summarize(count = sum(count)) %>%
    group_by(Phylum) %>%
    mutate(is_other = ifelse(mean(count) < 2, TRUE, FALSE)) %>%
    ungroup() %>%
    mutate(Phylum = Phylum %>% as.character,
           Phylum = ifelse(is_other == TRUE, 'Other', Phylum)) %>%
    group_by(sample, Phylum) %>%
    summarize(count = sum(count)) %>%
    ungroup() %>%
    spread(Phylum, count, fill=0) %>%
    as.data.frame

rownames(otu_s_g) = otu_s_g$sample
otu_s_g$sample = NULL
otu_s_g = cbind(otu_s_g[,colnames(otu_s_g) != 'Other'],
                otu_s_g[,colnames(otu_s_g) == 'Other'])
colnames(otu_s_g)[ncol(otu_s_g)] = 'Other'

otu_s_g %>% dfhead

[1] 213   9

                    Bacteroidetes CKC4 Firmicutes Fusobacteria Proteobacteria
F141.Wood.Sandpiper  0.00         0     0.10      0.0          99.90
F157a.European.Toad 24.42         0    54.26      0.0          12.12
F157b.European.Toad 26.08         0    37.82      0.1          18.26
                    Spirochaetae Tenericutes Verrucomicrobia Other
F141.Wood.Sandpiper 0.00         0.00         0.00           0.00
F157a.European.Toad 0.04         0.40         4.28           4.48
F157b.European.Toad 0.02         0.34        16.90           0.48

In [69]:
# creating colors
x = colnames(otu_s_g)
cols = RColorBrewer::brewer.pal(length(x), 'Set1')
#cols = c(cols, '#A6ACAF')
cols[length(cols)] = '#A6ACAF'
field_colors = data.frame(x, cols)

colnames(field_colors) = c('labels', 'colors')
field_colors$shapes = rep(1, nrow(field_colors))

field_colors$colors = field_colors$colors %>% as.character
# field_colors[field_colors$labels == 'Other','colors'] = '#A6ACAF'

# switching
tmp1 = field_colors[field_colors$labels == 'CKC4','colors'] 
tmp2 = field_colors[field_colors$labels == 'Proteobacteria','colors'] 
field_colors[field_colors$labels == 'CKC4','colors'] = tmp2
field_colors[field_colors$labels == 'Proteobacteria','colors'] = tmp1

# status
field_colors

  labels          colors  shapes
1 Bacteroidetes   #E41A1C 1
2 CKC4            #FF7F00 1
3 Firmicutes      #4DAF4A 1
4 Fusobacteria    #984EA3 1
5 Proteobacteria  #377EB8 1
6 Spirochaetae    #FFFF33 1
7 Tenericutes     #A65628 1
8 Verrucomicrobia #F781BF 1
9 Other           #A6ACAF 1

In [70]:
itol_multibar(otu_s_g, 'Phylum', 
              'physeq_IndD_phylum_itol-multibar.txt', work_dir,
              legend=field_colors)

File written: /ebio/abt3_projects/Georg_animal_feces/data/animal/phylogeny/TT//physeq_IndD_phylum_itol-multibar.txt

# sessionInfo

In [71]:
sessionInfo()

R version 3.4.1 (2017-06-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 18.04.1 LTS

Matrix products: default
BLAS: /ebio/abt3_projects/software/miniconda3_gt4.4/envs/py3_physeq/lib/R/lib/libRblas.so
LAPACK: /ebio/abt3_projects/software/miniconda3_gt4.4/envs/py3_physeq/lib/R/lib/libRlapack.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] bindrcpp_0.2.2  ape_5.1         phyloseq_1.22.3 ggplot2_3.0.0
[5] tidyr_0.8.1     dplyr_0.7.6

loaded via a namespace (and not attached):
 [1] Rcpp_0.12.17        lattice_0.20-34     Biostrings_2.46.0
 [4] assertthat_0.2.0    digest_0.6.15       foreach_1.4.4
 [7] IRdisplay_0.4.4     R6_2.2.2            plyr_1.8.4
[10] repr_0.15.0         stats4_3.4.1        evaluate_0.10.1
[13] pillar_1.2.2        zlibbioc_1.24.0     rlang_0.2.1
[16] lazyeval_0.2.1      uuid_0.1-2          data.table_1.11.4
[19] vegan_2.4-3         S4Vectors_0.16.0    Matrix_1.2-14
[22] splines_3.4.1       stringr_1.3.1       igraph_1.2.1
[25] munsell_0.5.0       compiler_3.4.1      pkgconfig_2.0.1
[28] BiocGenerics_0.24.0 base64enc_0.1-3     multtest_2.34.0
[31] mgcv_1.8-24         htmltools_0.3.6     biomformat_1.6.0
[34] tidyselect_0.2.4    tibble_1.4.2        IRanges_2.12.0
[37] codetools_0.2-15    permute_0.9-4       crayon_1.3.4
[40] withr_2.1.1         MASS_7.3-50         grid_3.4.1
[43] nlme_3.1-131        jsonlite_1.5        gtable_0.2.0
[46] magrittr_1.5        scales_0.5.0        stringi_1.2.3
[49] XVector_0.18.0      reshape2_1.4.3      IRkernel_0.8.12
[52] RColorBrewer_1.1-2  iterators_1.0.10    tools_3.4.1
[55] ade4_1.7-11         Biobase_2.38.0      glue_1.3.0
[58] purrr_0.2.4         parallel_3.4.1      survival_2.42-6
[61] colorspace_1.3-2    rhdf5_2.22.0        cluster_2.0.6
[64] pbdZMQ_0.3-2        bindr_0.1.1